:host {
    display: flex;
    gap: 16px;
    justify-content: space-between;

    border: 1px solid var(light-solid);
    border-radius: 2px;
    padding: 12px 20px;
    width: 360px;
    height: 44px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--light-solid);

    background: var(--dark-solid);

    box-sizing: border-box;

    &.default {
        border: 1px solid var(--light-solid);
    }
    &.error {
        border: 1px solid var(--red-primary);
    }
    &.success {
        border: 1px solid var(--green-primary);
    }

    & input {
        background: var(--dark-solid);
        width: 100%;
    }
}
