/* You can add global styles to this file, and also import other style files */
:root {
    --light-solid: #fff;
    --light-transparent: rgba(255, 255, 255, 0.75);
    --light-faf4f0: #faf4f0;
    --dark-solid: #000;
    --dark-transparent: #000;
    --dark-active: #161616;
    --dark-without-fill: rgba(216, 216, 216, 0);
    --dark-message: #404040;
    --gray-solid: #5f646d;
    --gray-soft: #5f646d;
    --outline-ae7aff: #d8d8d8;
    --primary-primary: #ae7aff;
    --primary-hover: #ae7aff;
    --primary-soft: #ae7aff;
    --green-primary: #98e9ab;
    --green-soft: #98e9ab;
    --yellow-primary: #fae8a4;
    --yellow-soft: #fae8a4;
    --red-primary: #e99898;
    --red-soft: #e99898;
    --color: #404040;
}

:root {
    --font-family: "JetBrains Mono", sans-serif;
    --second-family: "Material Icons", sans-serif;
}

body {
    background: var(--dark-active);
    font-family: var(--font-family);
    color: var(--light-solid);

    background-image: url('../public/images/img_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

input, textarea, select, button {
    all: unset;
    box-sizing: border-box;
    font-family: inherit;
    outline: none;

    &:focus {
        border: none;
        outline: none
    }
}

